section.rodape{
  width: 100%;
  height: 58px;
  border-radius: 12px 12px 0 0;
  background: var(--branco);
  filter: drop-shadow(0 -1px 3px #46464625);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.rodape nav{
  width: 100%;
}
.rodape nav>ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.rodape nav .rodape__acao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--texto-claro);
  font-size: 12px;
}
.rodape nav .rodape__acao:first-child{
  color: var(--cor-primaria);
}

.rodape nav .rodape__acao span{
  width: 24px;
  height: 24px;

  background-position: center;
  background-repeat: no-repeat;
}
.rodape nav .rodape__acao span.consultas-icone{
  background-image: url('../assets/icons/Calendar.svg');
}
.rodape nav .rodape__acao span.clientes-icone{
  opacity: 30%;
  background-image: url('../assets/icons/Clientes.svg');
}
.rodape nav .rodape__acao span.relatorios-icone{
  opacity: 30%;
  background-image: url('../assets/icons/Relatorios.svg');
}
.rodape nav .rodape__acao span.menu-icone{
  opacity: 30%;
  background-image: url('../assets/icons/Menu.svg');
}